.btn {
	@apply bg-black text-white dark:bg-white dark:text-black flex items-center rounded-[20px] border border-transparent px-4 py-2 transition cursor-pointer body-md select-none;
	@apply focus-visible:outline-3 focus-visible:outline-offset-2;

	@variant disabled {
		@apply pointer-events-none;
	}
}
.btn-primary {
	@apply bg-primary text-white outline-transparent;
	@apply hover:bg-primary-hover;
	@apply focus-visible:bg-primary-focussed focus-visible:outline-primary-focussed;

	@variant disabled {
		@apply bg-primary-disabled;
	}
}
.btn-secondary {
	@apply bg-secondary text-white outline-transparent;
	@apply hover:bg-secondary-hover;
	@apply focus-visible:bg-secondary-focussed focus-visible:outline-secondary-focussed;

	@variant disabled {
		@apply disabled:bg-secondary-disabled;
	}
}
