.link {
	@apply transition inline-flex items-center;

	&:hover,
	&:focus-visible {
		@apply text-primary;
	}
}
.link-primary {
	@apply outline-none text-primary rounded-full px-4 py-2;

	&:hover,
	&:focus-visible {
		@apply bg-primary text-white;
	}
}
