.link {
	@apply transition inline-flex items-center;
	@apply hover:text-primary;
	@apply focus-visible:text-primary;
}

.link-primary {
	@apply outline-none text-primary rounded-full px-4 py-2;
	@apply hover:bg-primary hover:text-white;
	@apply focus-visible:bg-primary focus-visible:text-white;
}
