header {
	@apply flex items-center justify-between p-6;
}

.link {
	@apply text-secondary transition outline-none;
}

.link:hover {
	color: var(--action-primary-hover);
}

.link:focus-visible {
	color: var(--action-primary-hover);
	box-shadow: 0 1px 0 0 var(--action-primary);
}
