@import "tailwindcss";

/* all other css must be imported AFTER tailwindcss */
@import "./tokens.css";
@import "./theme.css";
@import "./utilities.css";
@import "./typography.css";
@import "./layout.css";
@import "./components.css";
@import "./components/Icon.css";
@import "./components/Button.css";
@import "./components/Card.css";
