@utility text-primary {
	color: var(--color-primary);
}
@utility text-secondary {
	color: var(--color-secondary);
}
@utility text-muted {
	color: var(--color-muted);
}
@utility text-disabled {
	color: var(--color-disabled);
}

@utility bg-surface-primary {
	background-color: var(--surface-primary);
}
@utility bg-surface-secondary {
	background-color: var(--surface-secondary);
}
@utility bg-surface-subtle {
	background-color: var(--surface-subtle);
}

@utility bg-action-primary {
	background-color: var(--action-primary);
}
@utility bg-action-primary-hover {
	background-color: var(--action-primary-hover);
}

@utility border-default {
	border-color: var(--color-border);
}
@utility inline-code {
	@apply inline-block my-1 border p-3 rounded-lg bg-gray-200 leading-1.5;
}
